<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  <title>Quản Lí Sản Phẩm</title>
  <link rel="stylesheet" href="/css/style.css" />
  {{!
  <link rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" /> }}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="root">
    <main class="app">
      <aside class="aside">
        <div class="aside__user">
          <img class="user__img"
            src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/427910239_1618326815368677_2741562288391009677_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHJ6g4ZjZDWtd5HNtfA0vMPV6u_WPBUokhXq79Y8FSiSDNBcdARdGVmVB_OB3l0i8GNvdw6_slgRgopoBnn8ELr&_nc_ohc=j8fEKiewz3wQ7kNvgFvknJv&_nc_ht=scontent.fhan2-4.fna&oh=00_AYD1ax9XfNUjcGYG0ZyJMsnL_DuNZtLgFV9povSA6TDcVw&oe=6651086F" />
          <div class="user__info">
            <h4 class="user__name">
              <i class="icon icon__small fa-solid fa-user"></i>
              Nguyễn Thế An
            </h4>
            <h4 class="user__permission">(admin)</h4>
          </div>
        </div>
        {{> nav}}
      </aside>
      <div class="main">
        {{{body}}}
      </div>
    </main>
  </div>
</body>

</html>