<nav class="aside__nav">
    <a class="nav__item" href="/home">
        <i class="icon fa-solid fa-house"></i>
        Trang chủ
    </a>
    <a class="nav__item item__list-select" href="/products">
        <i class="icon fa-solid fa-table-list"></i>
        Tất cả sản phẩm
    </a>
    <a class="nav__item" href="/products/create">
        <i class="icon fa-solid fa-square-plus"></i>
        Thêm sản phẩm
    </a>
    <a class="nav__item item__list-select" href="/products/trash">
        <i class="icon fa-solid fa-trash-can"></i>
        Thùng rác
    </a>
    <a class="nav__item" href="/users">
        <i class="icon fa-solid fa-users"></i>
        Quản lí người dùng
    </a>
</nav>