<header class="header">
   <ul class="header__nav">
      <li>
         <a href="/api/views-dashboard">Trang chủ</a>
      </li>
      <li>
         <a href="/api/tour/create">Tour</a>
      </li>
      <li>
         <a href="/api/hotels/create">Nhà nghỉ/ Khách sạn</a>
      </li>
      <li>
         <a href="/admin/combos">Combos</a>
      </li>
      <li>
         <a href="/admin/users">Người dùng</a>
      </li>
   </ul>
</header>